*{
     margin:0px;
     padding:0px;
 }

body{
    background-repeat: repeat-y;
    background-image: url("../images/pozadina.jpg");
    background-size: cover;
    font-family: Oswald, sans-serif;
}

@media screen and (min-width: 1400px){
    h1{
        font-size: 4.5rem;
    }
    nav{
        background-color: rgba(0,0,0,.4 );
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    #navime a{
        padding: 0;
        font-size: 4rem;
        text-decoration: none;
        color: #f0f0f0;
    }
    #navime a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #navime i{
        display:none;
    }
    #dropnav{
        display: none;
    }

    #navlist ul{
        display: flex;
    }
    #navlist ul li{
        text-align: center;
        list-style-type: none;
        margin-inline: 2em;
    }
    #navlist ul li a{
        position: relative;
        padding: 0 6px;
        font-size: 2em;
        text-decoration: none;
        color: #f0f0f0;
    }
    .menilink::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 6px #fff;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }
    #navlist ul li a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #navlist ul li a:hover.menilink::after{
        transform: scaleX(1)
    }


    #navsocial ul {
        display: flex;
    }
    #navsocial ul li{
        list-style-type: none;
        margin-inline: 2em;
    }
    #navsocial ul li a{
        color: #f0f0f0;
        font-size: 3em;
    }
    #navsocial ul li a:hover{
        text-shadow: 0 0 6px #fff;
        color: #fff;
    }
    #phone{
        display:none;
    }

    .wrapper{
        width: 80%;
        height: 4000px;
        background-color: rgba(0,0,0,.4 );
        margin: 1rem auto 0 auto;
    }
    .slika-autor{
        display: flex;
        justify-content: center;
    }
    .slika-autor img{
        width: 50%; 
        margin: 2em 0;
        border-radius: 50%;
        border: 3px solid rgba(0,0,0,0);
        filter: brightness(50%);
        transition: filter 100ms ease;
    }
    .slika-autor img:hover{
        border: 3px solid white;
        box-shadow: 0 0 10px white;
        filter: brightness(100%);
    }
    .grid{
        margin: 2em auto;
        width: 95%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 5%;
        columns: 3;
    }
    .kartica{
        min-height: 15rem;
        background-color: rgba(0,0,0,.4);
        border-radius: 6px;
        background-clip: border-box;
        color: #f0f0f0;
        text-align: center;
        font-size: 1.5em;
        border: 1px solid rgba(0,0,0,0);
        
    }
    .kartica h3 i{
        font-size: 2em;
    }
    .kartica:hover{
        box-shadow: 0 0 10px #fff;
        border: 1px solid white;
    }
    .clspall{
        background-image: none;
        background-color: rgba(0,0,0,.4);
        grid-column: span 3;
    }
    .grid-naslov{
        background-color: rba(0,0,0,0);
        color: #f0f0f0;
        display: flex;
        justify-content: center;
        background-color: none;
    }
    .grid-naslov h2{
        font-size: 2.5em;
    }
    .grid-naslov:hover h2{
        text-shadow: 0 0 6px #fff;
        color: #fff;
    }

    .skills{
        min-height: 10rem;
        font-size: 3em;
    }

    .skills:hover{
        color: #f5ed9a;
        box-shadow: 0 0 10px #f5ed9a;
        text-shadow: 0 0 6px #f5ed9a;
    }
    .good:hover{
        color: #befabe;
        box-shadow: 0 0 10px #befabe;
        text-shadow: 0 0 6px #befabe;
    }

    .projekat{
        display:flex;
        align-items:center;
        justify-content: center;
        font-size: 4em;
    }
    .projekat:hover{
        text-shadow: 0 0 6px #fff;
    }
    #ofk-bozdarevac{
        background-image: url(../images/projekat.JPG);
        background-size: cover;
        filter:grayscale();
        color: black;
        transition: filter;
    }
    #ofk-bozdarevac:hover{
        filter: none;
    }

    .contact:hover h2{
        text-shadow: 0 0 6px #fff;
    }

    input,textarea{
        width: 350px;
        padding: 10px;
        margin: 5px 0;
        background-color: rgba(0,0,0,.6 );
        border: 1px solid rgba(0,0,0,0);
        border-radius: 2px;
        color:#f0f0f0;
    }

    input:focus,textarea:focus{
        box-shadow: 0 0 6px white;
    } 
    .subbtn input{
        font-family: Oswald, sans-serif; ;
        font-size: 1em;
    }
    .subbtn input:focus,.subbtn input:hover{
        text-shadow: 0 0 6px white;
        box-shadow: 0 0 6px white;
    }  


    .footer{
        width: 100%;
        background-color: rgba(0,0,0,.9);
        color: #fff;
        display: flex;
        justify-content: center;
    }
    .icons{
        color:#f0f0f0;
    }

    .icons ul{
        display:flex;
    }
    .icons ul li{
        list-style-type: none;
        margin-inline: 2em;
    }
    .icons ul li a{
        text-decoration: none;
        color:#f0f0f0;
        font-size: 2em;
    }
    .icons ul li a:hover{
        text-shadow: 0 0 6px #fff;
        color: #fff;    
    }
    .signature a{
        text-decoration: none;
        color:#f0f0f0;
        font-size: 1.2rem;
    }
    .signature a:hover{
        color: #fff;
        text-shadow: 0 0 6px #fff;
    }

}


@media screen and (min-width:1280px) and (max-width: 1400px){
    h1{
        font-size: 4.5rem;
    }
    nav{
        background-color: rgba(0,0,0,.4 );
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    #dropnav{
        background-color: rgba(0,0,0,.4 );
        width: 35%;
        padding: 5px 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #dropnav ul li{
        text-align: center;
        list-style-type: none;
        margin-inline: 2em;
    }
    #dropnav ul li a{
        position: relative;
        padding: 0 6px;
        font-size: 1.5em;
        text-decoration: none;
        color: #f0f0f0;
    }
    .menilink::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 6px #fff;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }
    #dropnav ul li a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #dropnav ul li a:hover.menilink::after{
        transform: scaleX(1)
    }

    #navime a{
        padding: 0;
        font-size: 4rem;
        text-decoration: none;
        color: #f0f0f0;
    }
    #navime a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #navime{
        display: flex;
        align-items: center;
    }
    #navime i{
        margin-right: 10px;
        font-size: 4rem;
        color: #f0f0f0;
    }
    #navime i:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }


    #navlist{
        display:none;
    }
    #navlist ul{
        display: flex;
    }
    #navlist ul li{
        text-align: center;
        list-style-type: none;
        margin-inline: 2em;
    }
    #navlist ul li a{
        position: relative;
        padding: 0 6px;
        font-size: 2em;
        text-decoration: none;
        color: #f0f0f0;
    }
    .menilink::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 6px #fff;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }
    #navlist ul li a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #navlist ul li a:hover.menilink::after{
        transform: scaleX(1)
    }


    #navsocial ul {
        display: flex;
    }
    #navsocial ul li{
        list-style-type: none;
        margin-inline: 2em;
    }
    #navsocial ul li a{
        color: #f0f0f0;
        font-size: 3em;
    }
    #navsocial ul li a:hover{
        text-shadow: 0 0 6px #fff;
        color: #fff;
    }
    #phone{
        display:block;
    }

    .wrapper{
        width: 80%;
        height: 4000px;
        background-color: rgba(0,0,0,.4 );
        margin: 1rem auto 0 auto;
    }
    .slika-autor{
        display: flex;
        justify-content: center;
    }
    .slika-autor img{
        width: 50%; 
        margin: 2em 0;
        border-radius: 50%;
        border: 3px solid rgba(0,0,0,0);
        filter: brightness(50%);
        transition: filter 100ms ease;
    }
    .slika-autor img:hover{
        border: 3px solid white;
        box-shadow: 0 0 10px white;
        filter: brightness(100%);
    }
    .grid{
        margin: 2em auto;
        width: 95%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 5%;
        columns: 3;
    }
    .kartica{
        min-height: 15rem;
        background-color: rgba(0,0,0,.4);
        border-radius: 6px;
        background-clip: border-box;
        color: #f0f0f0;
        text-align: center;
        font-size: 1.5em;
        border: 1px solid rgba(0,0,0,0);
        
    }
    .kartica h3 i{
        font-size: 2em;
    }
    .kartica:hover{
        box-shadow: 0 0 10px #fff;
        border: 1px solid white;
    }
    .clspall{
        background-image: none;
        background-color: rgba(0,0,0,.4);
        grid-column: span 3;
    }
    .grid-naslov{
        background-color: rba(0,0,0,0);
        color: #f0f0f0;
        display: flex;
        justify-content: center;
        background-color: none;
    }
    .grid-naslov h2{
        font-size: 2.5em;
    }
    .grid-naslov:hover h2{
        text-shadow: 0 0 6px #fff;
        color: #fff;
    }

    .skills{
        min-height: 10rem;
        font-size: 3em;
    }

    .skills:hover{
        color: #f5ed9a;
        box-shadow: 0 0 10px #f5ed9a;
        text-shadow: 0 0 6px #f5ed9a;
    }
    .good:hover{
        color: #befabe;
        box-shadow: 0 0 10px #befabe;
        text-shadow: 0 0 6px #befabe;
    }

    .projekat{
        display:flex;
        align-items:center;
        justify-content: center;
        font-size: 4em;
    }
    .projekat:hover{
        text-shadow: 0 0 6px #fff;
    }
    #ofk-bozdarevac{
        background-image: url(../images/projekat.JPG);
        background-size: cover;
        filter:grayscale();
        color: black;
        transition: filter;
    }
    #ofk-bozdarevac:hover{
        filter: none;
    }

    .contact:hover h2{
        text-shadow: 0 0 6px #fff;
    }

    input,textarea{
        width: 350px;
        padding: 10px;
        margin: 5px 0;
        background-color: rgba(0,0,0,.6 );
        border: 1px solid rgba(0,0,0,0);
        border-radius: 2px;
        color:#f0f0f0;
    }

    input:focus,textarea:focus{
        box-shadow: 0 0 6px white;
    } 
    .subbtn input{
        font-family: Oswald, sans-serif; ;
        font-size: 1em;
    }
    .subbtn input:focus,.subbtn input:hover{
        text-shadow: 0 0 6px white;
        box-shadow: 0 0 6px white;
    }  


    .footer{
        width: 100%;
        background-color: rgba(0,0,0,.9);
        color: #fff;
        display: flex;
        justify-content: center;
    }
    .icons{
        color:#f0f0f0;
    }

    .icons ul{
        display:flex;
    }
    .icons ul li{
        list-style-type: none;
        margin-inline: 2em;
    }
    .icons ul li a{
        text-decoration: none;
        color:#f0f0f0;
        font-size: 2em;
    }
    .icons ul li a:hover{
        text-shadow: 0 0 6px #fff;
        color: #fff;    
    }
    .signature a{
        text-decoration: none;
        color:#f0f0f0;
        font-size: 1.2rem;
    }
    .signature a:hover{
        color: #fff;
        text-shadow: 0 0 6px #fff;
    }

}

@media screen and (min-width:690px) and (max-width: 1280px){
    h1{
        font-size: 4.5rem;
    }
    nav{
        background-color: rgba(0,0,0,.4 );
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    #dropnav{
        background-color: rgba(0,0,0,.4 );
        width: 35%;
        padding: 5px 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #dropnav ul li{
        text-align: center;
        list-style-type: none;
        margin-inline: 2em;
    }
    #dropnav ul li a{
        position: relative;
        padding: 0 6px;
        font-size: 1.5em;
        text-decoration: none;
        color: #f0f0f0;
    }
    .menilink::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 6px #fff;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }
    #dropnav ul li a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #dropnav ul li a:hover.menilink::after{
        transform: scaleX(1)
    }

    #navime a{
        padding: 0;
        font-size: 4rem;
        text-decoration: none;
        color: #f0f0f0;
    }
    #navime a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #navime{
        display: flex;
        align-items: center;
    }
    #navime i{
        margin-right: 10px;
        font-size: 4rem;
        color: #f0f0f0;
    }
    #navime i:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }


    #navlist{
        display:none;
    }
    #navlist ul{
        display: flex;
    }
    #navlist ul li{
        text-align: center;
        list-style-type: none;
        margin-inline: 2em;
    }
    #navlist ul li a{
        position: relative;
        padding: 0 6px;
        font-size: 2em;
        text-decoration: none;
        color: #f0f0f0;
    }
    .menilink::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 6px #fff;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }
    #navlist ul li a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #navlist ul li a:hover.menilink::after{
        transform: scaleX(1)
    }


    #navsocial ul {
        display: flex;
    }
    #navsocial ul li{
        list-style-type: none;
        margin-inline: 2em;
    }
    #navsocial ul li a{
        color: #f0f0f0;
        font-size: 3em;
    }
    #navsocial ul li a:hover{
        text-shadow: 0 0 6px #fff;
        color: #fff;
    }
    #phone{
        display:block;
    }

    .wrapper{
        width: 80%;
        height: 4500px;
        background-color: rgba(0,0,0,.4 );
        margin: 1rem auto 0 auto;
    }
    .slika-autor{
        display: flex;
        justify-content: center;
    }
    .slika-autor img{
        width: 50%; 
        margin: 2em 0;
        border-radius: 50%;
        border: 3px solid rgba(0,0,0,0);
        filter: brightness(50%);
        transition: filter 100ms ease;
    }
    .slika-autor img:hover{
        border: 3px solid white;
        box-shadow: 0 0 10px white;
        filter: brightness(100%);
    }
    .grid{
        margin: 2em auto;
        width: 95%;
        display: grid;
        grid-template-columns: 46% 46%;
        gap: 4%;
        columns: 3;
    }
    .kartica{
        min-height: 15rem;
        background-color: rgba(0,0,0,.4);
        border-radius: 6px;
        background-clip: border-box;
        color: #f0f0f0;
        text-align: center;
        font-size: 1.5em;
        border: 1px solid rgba(0,0,0,0);
        
    }
    .kartica:nth-child(6){
        grid-column-start: span 2;
    }
    .kartica h3 i{
        font-size: 2em;
    }
    .kartica:hover{
        box-shadow: 0 0 10px #fff;
        border: 1px solid white;
    }
    .clspall{
        background-image: none;
        background-color: rgba(0,0,0,.4);
        grid-column: span 2;
    }
    .grid-naslov{
        background-color: rba(0,0,0,0);
        color: #f0f0f0;
        display: flex;
        justify-content: center;
        background-color: none;
    }
    .grid-naslov h2{
        font-size: 2.5em;
    }
    .grid-naslov:hover h2{
        text-shadow: 0 0 6px #fff;
        color: #fff;
    }

    .skills{
        min-height: 10rem;
        font-size: 3em;
    }

    .skills:hover{
        color: #f5ed9a;
        box-shadow: 0 0 10px #f5ed9a;
        text-shadow: 0 0 6px #f5ed9a;
    }
    .good:hover{
        color: #befabe;
        box-shadow: 0 0 10px #befabe;
        text-shadow: 0 0 6px #befabe;
    }

    .projekat{
        display:flex;
        align-items:center;
        justify-content: center;
        font-size: 4em;
    }
    .projekat:hover{
        text-shadow: 0 0 6px #fff;
    }
    #ofk-bozdarevac{
        background-image: url(../images/projekat.JPG);
        background-size: cover;
        filter:grayscale();
        color: black;
        transition: filter;
    }
    #ofk-bozdarevac:hover{
        filter: none;
    }

    .contact:hover h2{
        text-shadow: 0 0 6px #fff;
    }

    input,textarea{
        width: 350px;
        padding: 10px;
        margin: 5px 0;
        background-color: rgba(0,0,0,.6 );
        border: 1px solid rgba(0,0,0,0);
        border-radius: 2px;
        color:#f0f0f0;
    }

    input:focus,textarea:focus{
        box-shadow: 0 0 6px white;
    } 
    .subbtn input{
        font-family: Oswald, sans-serif; ;
        font-size: 1em;
    }
    .subbtn input:focus,.subbtn input:hover{
        text-shadow: 0 0 6px white;
        box-shadow: 0 0 6px white;
    }  


    .footer{
        width: 100%;
        background-color: rgba(0,0,0,.9);
        color: #fff;
        display: flex;
        justify-content: center;
    }
    .icons{
        color:#f0f0f0;
    }

    .icons ul{
        display:flex;
    }
    .icons ul li{
        list-style-type: none;
        margin-inline: 2em;
    }
    .icons ul li a{
        text-decoration: none;
        color:#f0f0f0;
        font-size: 2em;
    }
    .icons ul li a:hover{
        text-shadow: 0 0 6px #fff;
        color: #fff;    
    }
    .signature a{
        text-decoration: none;
        color:#f0f0f0;
        font-size: 1.2rem;
    }
    .signature a:hover{
        color: #fff;
        text-shadow: 0 0 6px #fff;
    }
}

@media screen and (max-width:690px){
    h1{
        font-size: 4.5rem;
    }
    nav{
        background-color: rgba(0,0,0,.4 );
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    #dropnav{
        background-color: rgba(0,0,0,.4 );
        width: 35%;
        padding: 5px 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #dropnav ul li{
        text-align: center;
        list-style-type: none;
        margin-inline: 2em;
    }
    #dropnav ul li a{
        position: relative;
        padding: 0 6px;
        font-size: 1.5em;
        text-decoration: none;
        color: #f0f0f0;
    }
    .menilink::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 6px #fff;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }
    #dropnav ul li a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #dropnav ul li a:hover.menilink::after{
        transform: scaleX(1)
    }

    #navime a{
        padding: 0;
        font-size: 4rem;
        text-decoration: none;
        color: #f0f0f0;
    }
    #navime a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #navime{
        display: flex;
        align-items: center;
    }
    #navime i{
        margin-right: 10px;
        font-size: 4rem;
        color: #f0f0f0;
    }
    #navime i:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }


    #navlist{
        display:none;
    }
    #navlist ul{
        display: flex;
    }
    #navlist ul li{
        text-align: center;
        list-style-type: none;
        margin-inline: 2em;
    }
    #navlist ul li a{
        position: relative;
        padding: 0 6px;
        font-size: 2em;
        text-decoration: none;
        color: #f0f0f0;
    }
    .menilink::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 6px #fff;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }
    #navlist ul li a:hover{
        color:#fff;
        text-shadow: 0 0 6px #fff;
    }
    #navlist ul li a:hover.menilink::after{
        transform: scaleX(1)
    }


    #navsocial ul {
        display: flex;
    }
    #navsocial ul li{
        list-style-type: none;
        margin-inline: 2em;
    }
    #navsocial ul li a{
        color: #f0f0f0;
        font-size: 3em;
    }
    #navsocial ul li a:hover{
        text-shadow: 0 0 6px #fff;
        color: #fff;
    }
    #phone{
        display:block;
    }

    .wrapper{
        width: 80%;
        height: 4500px;
        background-color: rgba(0,0,0,.4 );
        margin: 1rem auto 0 auto;
    }
    .slika-autor{
        display: flex;
        justify-content: center;
    }
    .slika-autor img{
        width: 50%; 
        margin: 2em 0;
        border-radius: 50%;
        border: 3px solid rgba(0,0,0,0);
        filter: brightness(50%);
        transition: filter 100ms ease;
    }
    .slika-autor img:hover{
        border: 3px solid white;
        box-shadow: 0 0 10px white;
        filter: brightness(100%);
    }
    .grid{
        margin: 2em auto;
        width: 95%;
        display: block;

    }
    .kartica{
        min-height: 15rem;
        background-color: rgba(0,0,0,.4);
        border-radius: 6px;
        background-clip: border-box;
        color: #f0f0f0;
        text-align: center;
        font-size: 1.5em;
        border: 1px solid rgba(0,0,0,0);
        margin-bottom: 1em;
    }
    .kartica:nth-child(6){
        grid-column-start: span 2;
    }
    .kartica h3 i{
        font-size: 2em;
    }
    .kartica:hover{
        box-shadow: 0 0 10px #fff;
        border: 1px solid white;
    }
    .clspall{
        background-image: none;
        background-color: rgba(0,0,0,.4);
        
    }
    .grid-naslov{
        background-color: rba(0,0,0,0);
        color: #f0f0f0;
        display: flex;
        justify-content: center;
        background-color: none;
        margin-bottom: 1em;
    }
    .grid-naslov h2{
        font-size: 2.5em;
    }
    .grid-naslov:hover h2{
        text-shadow: 0 0 6px #fff;
        color: #fff;
    }

    .skills{
        min-height: 10rem;
        font-size: 3em;
    }

    .skills:hover{
        color: #f5ed9a;
        box-shadow: 0 0 10px #f5ed9a;
        text-shadow: 0 0 6px #f5ed9a;
    }
    .good:hover{
        color: #befabe;
        box-shadow: 0 0 10px #befabe;
        text-shadow: 0 0 6px #befabe;
    }

    .projekat{
        display:flex;
        align-items:center;
        justify-content: center;
        font-size: 4em;
    }
    .projekat:hover{
        text-shadow: 0 0 6px #fff;
    }
    #ofk-bozdarevac{
        background-image: url(../images/projekat.JPG);
        background-size: cover;
        filter:grayscale();
        color: black;
        transition: filter;
    }
    #ofk-bozdarevac:hover{
        filter: none;
    }

    .contact:hover h2{
        text-shadow: 0 0 6px #fff;
    }

    input,textarea{
        width: 350px;
        padding: 10px;
        margin: 5px 0;
        background-color: rgba(0,0,0,.6 );
        border: 1px solid rgba(0,0,0,0);
        border-radius: 2px;
        color:#f0f0f0;
    }

    input:focus,textarea:focus{
        box-shadow: 0 0 6px white;
    } 
    .subbtn input{
        font-family: Oswald, sans-serif; ;
        font-size: 1em;
    }
    .subbtn input:focus,.subbtn input:hover{
        text-shadow: 0 0 6px white;
        box-shadow: 0 0 6px white;
    }  


    .footer{
        width: 100%;
        background-color: rgba(0,0,0,.9);
        color: #fff;
        display: flex;
        justify-content: center;
    }
    .icons{
        color:#f0f0f0;
    }

    .icons ul{
        display:flex;
    }
    .icons ul li{
        list-style-type: none;
        margin-inline: 2em;
    }
    .icons ul li a{
        text-decoration: none;
        color:#f0f0f0;
        font-size: 2em;
    }
    .icons ul li a:hover{
        text-shadow: 0 0 6px #fff;
        color: #fff;    
    }
    .signature a{
        text-decoration: none;
        color:#f0f0f0;
        font-size: 1.2rem;
    }
    .signature a:hover{
        color: #fff;
        text-shadow: 0 0 6px #fff;
    }
}
